* {
  margin: 0;
  padding: 0;
  font-weight: 400;
  box-sizing: border-box;
  list-style: none;
  font-family: "Rubik", "sans-serif";
  border: none;
  font-size: 16px;
  color: #000;
  text-decoration: none;

  span {
    font-family: "Rubik",
      "sans-serif";
    font-size: 16px;
    color: #000;

  }
}

$color: #0033cc;

button {
  margin: 0;
  padding: 0;
  transition: 0.2s ease;

  background: transparent;

  @media (any-hover: hover) {
    cursor: pointer;
  }

  &:active {
    transform: translateY(3px);
  }
}

a.link {
  transition: 0.2s ease;

  &:active {
    transform: translateY(3px);
  }
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  @media screen and (min-width: 1680px) {
    max-width: 1230px;
  }

  @media screen and (max-width: 1679.99px) {
    max-width: 1230px;
  }

  @media screen and (max-width: 1199.99px) {
    max-width: 970px;
  }

  @media screen and (max-width: 991.99px) {
    max-width: 750px;
  }

  @media screen and (max-width: 767.99px) {
    max-width: 100%;
  }

  margin: 0 auto;
  padding: 0 15px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 250;
  padding: 18px 0;
  background: transparent;

  &__content {
    display: flex;
    align-items: center;
  }

  &__logo {
    flex: 0 0 165/1230 * 100%;
  }

  &__main {
    flex: 1 1 auto;

    @media screen and (max-width: 768px) {
      display: flex;
      justify-content: flex-end;

      position: relative;
    }
  }

  &__actions {
    @media screen and (max-width: 768px) {
      display: flex;
      align-items: center;
    }
  }

  &__burger {
    margin-right: calc(5px + (15 - 5) * ((100vw - 320px) / (1200 - 320)));
  }
}

.burger {
  z-index: 250;
  display: none;
  padding: 4px;

  &__body {
    height: 20px;
    width: 30px;
    position: relative;

    span {
      display: block;
      height: 2px;
      width: 25px;
      background: #fff;
      right: 0;

      position: absolute;
      top: 50%;
      transform: scale(1) translateY(-50%);

      transition: 0.2s ease;

    }

    &::before,
    &::after {
      right: 0;
      position: absolute;
      content: '';
      width: 100%;
      height: 2px;
      background: #fff;

      transition: 0.2s ease;
    }

    &::before {
      bottom: 0;
    }

    &::after {
      top: 0;
    }
  }

  &.active {
    .burger__body {
      span {
        transform: scale(0);
      }

      &::before {
        bottom: auto;
        transform: rotate(-45deg);
        top: 10px;
      }

      &::after {
        bottom: auto;
        transform: rotate(45deg);
        top: 10px;
      }
    }
  }

  @media screen and (max-width: 767.99px) {
    display: block;
  }
}

.menu {

  // .menu__list
  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @media screen and (max-width: 767.99px) {
      &.active {
        transform: translateY(0);
        opacity: 1;
      }

      padding: calc(14px + (20 - 14) * ((100vw - 321px) / (1230 - 321)));
      background: #ffffff;
      border-radius: 10px;
      flex-direction: column;
      box-shadow: -6px 6px 12px 0px rgba(0, 0, 0, 0.3);


      li:not(:first-child) {
        margin-top: calc(12px + (18 - 12) * ((100vw - 321px) / (1230 - 321)));
      }
    }
  }

  // .menu__link
  &__link {
    margin: calc(0px + 6.5 * ((100vw - 769px) / (1230 - 769)));

    @media screen and (max-width: 767.99px) {
      margin: 0;
    }

    display: block;

    span {
      font-family: 'Rubik', 'sans-serif';
      font-weight: 400;
      color: #fff;
      padding: 4px 5px;
      font-size: 19px;
      transition: border-bottom 0.2s ease;
      border-bottom: 1px solid transparent;

      @media (any-hover: hover) {
        &:hover {
          border-bottom: 1px solid #fff;
        }
      }

      @media screen and (max-width: 767.99px) {
        color: inherit;
      }
    }
  }

  @media screen and (max-width: 767.99px) {
    pointer-events: none;
    transform: translateY(-30%);
    transition: 0.4s ease;
    opacity: 0;
    padding-top: calc(40px + (50 - 40) * ((100vw - 321px) / (1230 - 321)));
    position: absolute;
    top: 0;
    right: calc(5px + (15 - 5) * ((100vw - 320px) / (1200 - 320)));

    &.active {
      transform: translateY(0);
      opacity: 1;
      pointer-events: visible;
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 18px;

  span {
    font-family: Lato;
    line-height: 120%;
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: calc(14px + (16 - 14) * ((100vw - 321px) / (1230 - 321)));
    margin-left: calc(3px + (6 - 3) * ((100vw - 321px) / (1230 - 321)));
  }

  &__img {
    height: 100%;
    max-height: calc(42px + (48 - 42) * ((100vw - 321px) / (1230 - 321)));
    display: inline-block;
    border-radius: 50%;
  }
}

.registration {
  text-align: right;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.profile {
  display: none;
  transition: 0.2s ease;

  border-radius: 50%;

  @media screen and (max-width: 768px) {
    display: block;
  }

  &__img {
    width: 100%;
    max-width: calc(40px + (48 - 40) * ((100vw - 321px) / (1230 - 321)));
    display: block;
  }
}

.btn {
  transition: 0.2s ease;
  white-space: nowrap;
  margin: 2px;
  padding: calc(5px + (10 - 5) * ((100vw - 321px) / (1230 - 321))) calc(17px + (25 - 17) * ((100vw - 321px) / (1230 - 321)));

  background: #fff;
  border-radius: 5px;

  &--big {
    padding: calc(10px + (15 - 10) * ((100vw - 321px) / (1230 - 321))) calc(23px + (30 - 23) * ((100vw - 321px) / (1230 - 321)));

    .btn__text-wrapper {
      font-size: calc(16px + (18 - 16) * ((100vw - 321px) / (1230 - 321)));
    }
  }

  &--blue {
    background: $color;
    padding: calc(5px + (12 - 5) * ((100vw - 321px) / (1230 - 321)));
    border-radius: 10px;

    .btn__text-wrapper {
      font-size: calc(15px + (19 - 15) * ((100vw - 321px) / (1230 - 321)));

      color: #fff;
      font-weight: 500;
    }
  }

  &--price {
    font-family: "Kanit",
      "sans-serif";
    transition: background,
      color 0.2s ease;
    font-weight: 500;
    color: #fff;
    margin-left: calc(1px + (3 - 1) * ((100vw - 321px) / (1230 - 321)));
    font-size: calc(16px + (19 - 16) * ((100vw - 321px) / (1230 - 321)));
  }

  &--arrow {
    .btn__text-wrapper {
      position: relative;
      padding-right: 37px;

      &::after {
        position: absolute;
        content: '';
        top: 50%;
        width: 27px;
        height: 27px;
        transform: translate(100%, -50%);
        right: 27px;
        background-image: url('../img/right-arrow.svg');
        background-size: contain;
      }
    }
  }

  @media (any-hover: hover) {
    &:hover {
      background: transparent;
      color: #fff;

      .btn__text-wrapper {
        color: #fff;
      }
    }

    &--blue:hover {
      background: lighten($color, 10%);
    }
  }
}

.text-decor-label {
  &--beginner {
    background: rgb(189, 161, 5);
  }

  color: #fff;
  font-weight: 500;
  display: inline-block;
  border-radius: 5px;
  padding: 3px 5px;
  margin: 3px;
}

.title {
  &--small {
    font-size: 20px;
  }

  &--b {
    color: #000;
  }

  &--main {
    font-size: calc(23px + (42 - 23) * ((100vw - 320px) / (1230 - 320)));
  }

  text-align: center;
  font-family: 'Source Sans Pro',
  'sans-serif';

  &--en {
    font-family: 'Lato', 'sans-serif';
  }

  font-size: calc(23px + (32 - 23) * ((100vw - 321px) / (1230 - 321)));
  font-weight: 700;
  color: inherit;
  text-transform: uppercase;
  color: #fff;
  line-height: 110%;
}

.subtitle {
  color: inherit;
  color: #fff;
  text-align: center;

  &--b {
    color: #000;
  }

  line-height: 100%;
  font-size: calc(18px + (20 - 18) * ((100vw - 321px) / (1230 - 321)));
}

.main {
  min-height: 100vh;
  background: url('../img/dinamic_bg.svg') no-repeat center;
  background-size: cover;
  position: relative;
  display: flex;

  @media screen and (max-width: 1023.99px) {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='768' height='2000' preserveAspectRatio='none' viewBox='0 0 768 2000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1052%26quot%3b)' fill='none'%3e%3crect width='768' height='2000' x='0' y='0' fill='rgba(22%2c 68%2c 205%2c 1)'%3e%3c/rect%3e%3cpath d='M174.249%2c1944.464C237.155%2c1947.293%2c300.285%2c1916.97%2c329.628%2c1861.255C357.442%2c1808.444%2c334.953%2c1747.686%2c305.107%2c1695.996C275.264%2c1644.311%2c233.93%2c1592.448%2c174.249%2c1592.157C114.223%2c1591.864%2c68.807%2c1641.427%2c41.157%2c1694.707C15.882%2c1743.41%2c15.519%2c1799.866%2c41.324%2c1848.291C68.89%2c1900.021%2c115.692%2c1941.831%2c174.249%2c1944.464' fill='rgba(0%2c 51%2c 204%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M515.33 492.08 a180.95 180.95 0 1 0 361.9 0 a180.95 180.95 0 1 0 -361.9 0z' fill='rgba(0%2c 51%2c 204%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M377.527%2c160.871C412.289%2c160.992%2c447.108%2c147.01%2c464.264%2c116.776C481.231%2c86.874%2c474.781%2c50.241%2c456.998%2c20.816C439.884%2c-7.503%2c410.615%2c-26.993%2c377.527%2c-26.748C344.835%2c-26.506%2c316.881%2c-6.06%2c300.069%2c21.979C282.696%2c50.953%2c275.373%2c86.673%2c291.827%2c116.178C308.646%2c146.336%2c342.996%2c160.751%2c377.527%2c160.871' fill='rgba(0%2c 51%2c 204%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M472.951%2c1166.567C508.736%2c1164.249%2c536.423%2c1138.972%2c554.445%2c1107.97C572.583%2c1076.769%2c581.472%2c1039.858%2c565.392%2c1007.548C547.556%2c971.71%2c512.981%2c944.511%2c472.951%2c944.226C432.5%2c943.938%2c398.529%2c971.242%2c378.2%2c1006.215C357.753%2c1041.391%2c350.161%2c1084.833%2c370.859%2c1119.862C391.263%2c1154.393%2c432.926%2c1169.16%2c472.951%2c1166.567' fill='rgba(0%2c 51%2c 204%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M301.55 1376.53 a160.67 160.67 0 1 0 321.34 0 a160.67 160.67 0 1 0 -321.34 0z' fill='rgba(0%2c 51%2c 204%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M-59.19 806.13 a158.92 158.92 0 1 0 317.84 0 a158.92 158.92 0 1 0 -317.84 0z' fill='rgba(0%2c 51%2c 204%2c 1)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1052'%3e%3crect width='768' height='2000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e") no-repeat center;
    background-size: cover;
  }

  @media screen and (max-width: 767.99px) {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='768' height='1000' preserveAspectRatio='none' viewBox='0 0 768 1000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1084%26quot%3b)' fill='none'%3e%3crect width='768' height='1000' x='0' y='0' fill='rgba(22%2c 68%2c 205%2c 1)'%3e%3c/rect%3e%3cpath d='M-132.87 90.64 a153.15 153.15 0 1 0 306.3 0 a153.15 153.15 0 1 0 -306.3 0z' fill='rgba(0%2c 51%2c 204%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M133.32 285.59 a145.56 145.56 0 1 0 291.12 0 a145.56 145.56 0 1 0 -291.12 0z' fill='rgba(0%2c 51%2c 204%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M408.27 111.76 a220.54 220.54 0 1 0 441.08 0 a220.54 220.54 0 1 0 -441.08 0z' fill='rgba(0%2c 51%2c 204%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M357.58 917.49 a216.35 216.35 0 1 0 432.7 0 a216.35 216.35 0 1 0 -432.7 0z' fill='rgba(0%2c 51%2c 204%2c 1)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1084'%3e%3crect width='768' height='1000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e") no-repeat center;
    background-size: cover;
  }
}

.card-wrapper {
  margin-top: calc(40px + (80 - 40) * ((100vw - 321px) / (1240 - 321)));
}

.card-list {
  margin: 10px;
  margin-top: calc(15px + (20 - 15) * ((100vw - 321px) / (1230 - 321)));
  display: flex;
  justify-content: center;


  @media screen and (max-width:1024px) {
    flex-wrap: wrap;
  }

  &__subtitle {
    font-size: 18px;
  }

  &__item {
    transition: 0.2s ease;

    @media (any-hover: hover) {
      &:hover {
        box-shadow: -12px 12px 12px 0px rgba(0, 0, 0, 0.35);
      }
    }

    &--popular {
      &::before {
        position: absolute;
        content: "";
        background-image: url("https://image.flaticon.com/icons/png/512/411/411724.png");
        background-size: cover;
        top: 0;
        left: 0;
        transform: translate(-10px, -10px);
        width: 50px;
        height: 50px;
        display: block;

        @media screen and (max-width: 768px) {
          width: 40px;
          height: 40px;
        }

        @media screen and (max-width: 320px) {
          width: 35px;
          height: 35px;
        }
      }
    }

    margin: 15px;
    position: relative;
    max-width: 300px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: -6px 6px 8px 0px rgba(0, 0, 0, 0.25);
    padding: calc(10px + (15 - 10) * ((100vw - 321px) / (1230 - 321)));
    display: flex;
    flex-direction: column;

    @media screen and (max-width:768px) {
      max-width: 460px;
    }

    @media screen and (max-width:320px) {
      margin: 10px;
    }
  }

  &__title {
    font-size: calc(22px + (26 - 22) * ((100vw - 321px) / (1230 - 321)));
    line-height: 110%;
  }

}

.card-services {
  margin-top: calc(3px + (18 - 3) * ((100vw - 321px) / (1230 - 321)));
  margin-bottom: calc(13px + (18 - 13) * ((100vw - 321px) / (1230 - 321)));
  margin-right: 0;
  margin-left: 0;
  flex: 1 1 auto;

  &__item {
    padding-left: calc(16px + (25 - 16) * ((100vw - 321px) / (1230 - 321)));
    margin-top: calc(5px + (8.5 - 5) * ((100vw - 321px) / (1230 - 321)));
    position: relative;


    font-size: calc(13px + (18 - 13) * ((100vw - 321px) / (1230 - 321)));
    font-weight: 400;
    font-family: "Rubik", 'sans-serif';
    line-height: 117%;

    &::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      transform: translateY(calc(1px + (4 - 1) * ((100vw - 321px) / (1230 - 321))));
      width: calc(11px + (14 - 11) * ((100vw - 321px) / (1230 - 321)));
      height: calc(11px + (14 - 11) * ((100vw - 321px) / (1230 - 321)));
      background: url('../img/tick.svg') no-repeat center;
      background-size: cover;

    }
  }
}

.intro {
  padding-top: 86px;

  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 767.99px) {
    justify-content: center;
    flex-direction: column-reverse;
  }

  // .intro__offer
  &__offer {
    @media screen and (min-width: 768px) {
      flex: 0 0 50%;
    }

    flex: 0 0 100%;
  }

  &__img {
    @media screen and (min-width: 768px) {
      max-width: 50%;
    }

    @media screen and (max-width: 767.99px) {
      max-width: calc(190px + (350 - 190) * ((100vw - 321px) / (1230 - 321)))
    }

    display: inline-block;
    background-size: contain;

    @media screen and (max-width: 767.99px) {
      margin-bottom: calc(10px + (25 - 10) * ((100vw - 321px) / (1230 - 321)));
    }
  }
}

.offer {
  display: flex;
  flex-direction: column;
  min-height: calc(210px + (290 - 210) * ((100vw - 480px) / (1230 - 480)));


  align-items: flex-start;

  // .offer__title
  &__title {
    line-height: 110%;
    text-align: left;
  }

  &__btn {
    margin-top: calc(5px + (10 - 5) * ((100vw - 321px) / (1230 - 321)));
  }

  @media screen and (max-width: 767.99px) {
    align-items: center;

    flex: 0 0 auto;

    &__title {
      text-align: center;
    }
  }
}

.offer-list {
  flex: 1 0 auto;

  @media screen and (max-width: 767.99px) {
    flex: 0 0 auto;
    text-align: center;
  }

  margin: calc(6px + (15 - 6) * ((100vw - 321px) / (1230 - 321))) 0;

  // .offer-list__item
  &__item {
    position: relative;
    line-height: 110%;

    @media screen and (max-width: 478.99px) {
      line-height: 118%;
    }

    padding-left: calc(19px + (21 - 19) * ((100vw - 321px) / (1230 - 321)));
    color: #fff;
    font-size: calc(13px + (19 - 13) * ((100vw - 321px) / (1230 - 321)));

    &:not(:first-child) {
      margin-top: calc(3px + (6 - 3) * ((100vw - 321px) / (1230 - 321)));
    }

    &::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      transform: translateY(3px);
      width: calc(13px + (15 - 13) * ((100vw - 321px) / (1230 - 321)));
      height: calc(13px + (15 - 13) * ((100vw - 321px) / (1230 - 321)));
      background-image: url('../img/check.svg');
      background-size: cover;
    }
  }


}

.notify {
  visibility: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: calc(280px + (320 - 280) * ((100vw - 769px) / (1230 - 769)));
  left: -100%;

  transition: 0.9s ease;

  @media screen and (max-width: 479px) {
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    max-width: 100%;
    height: 100%;
    width: 100%;

    &__body {
      left: -100%;
      max-width: 280px;
      margin: 10px;
      transition: 0.9s ease;
    }
  }

  &.active {
    margin: 15px;
    left: 0;
    visibility: visible;

    @media screen and (max-width: 479px) {
      margin: 0;
      opacity: 1;
    }

    .notify__body {
      @media screen and (max-width: 479px) {
        left: 0;
      }
    }

    .notify__img {
      opacity: 1;
      transform: translateY(0);
    }

  }

  &__body {
    overflow: hidden;
    width: 100%;
    background: #fff;
    min-height: calc(280px + (350 - 280) * ((100vw - 769px) / (1230 - 769)));
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    filter: drop-shadow(8px 8px 6px rgba(0, 0, 0, 0.45));
    transition: 0.9s ease;
  }

  // .notify__close
  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 27px;
    height: 27px;

    transition: transform 0.3s ease;

    @media (any-hover: hover) {
      &:hover {
        transform: rotate(180deg);
      }
    }

    @media screen and (max-width: 768px) {
      top: 10px;
      right: 10px;
    }
  }

  // .notify__img
  &__img {
    opacity: 0;
    transition: 0.9s ease;
    transition-delay: 0.1s;
    transform: translateY(-100%);
    max-width: calc(185px + (235 - 185) * ((100vw - 769px) / (1230 - 769)));
    width: 100%;
    filter: drop-shadow(6px 6px 3px rgba(0, 0, 0, 0.3));
    flex: 1 1 auto;
  }

  &__btn {
    width: 100%;
  }
}

.advantages {
  min-height: 100vh;
}

.text-link {
  display: inline;
  color: #91d3d2;
  font-size: calc(17px + (22 - 17) * ((100vw - 321px) / (1240 - 321)));
  font-weight: 500;

  @media (any-hover: hover) {
    &:hover {
      text-decoration: underline;
    }
  }
}

.item-advantages {
  margin-top: calc(40px + (60 - 40) * ((100vw - 321px) / (1240 - 321)));
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 767.99px) {
    align-items: center;
  }

  // .item-advantages--reverse
  &--reverse {
    .item-advantages__column {
      justify-content: flex-end;
    }

    .item-advantages__text {
      margin-left: calc(10px + (30 - 10) * ((100vw - 321px) / (1240 - 321)));
    }

    flex-direction: row-reverse;
  }

  // .item-advantages--editor
  &--editor {
    margin-top: calc(40px + (80 - 40) * ((100vw - 321px) / (1230 - 321)));
  }

  &__column {
    display: flex;
    justify-content: flex-start;
  }

  // .item-advantages__text
  &__text {
    display: inline-flex;
    align-items: flex-start;
    flex-direction: column;

    @media screen and (min-width: 768px) {
      margin-top: calc(20px + (40 - 20) * ((100vw - 321px) / (1240 - 321)));
    }
    @media screen and (max-width: 767.99px) {
      margin-top: 0;
    }

    margin-right: calc(10px + (30 - 10) * ((100vw - 321px) / (1240 - 321)));
  }

  // .item-advantages__title
  &__title {
    text-align: left;
    margin-bottom: calc(6px + (14 - 6) * ((100vw - 321px) / (1230 - 321)));
  }

  &__btn {
    margin-top: calc(30px + (40 - 30) * ((100vw - 321px) / (1240 - 321)));
  }

  // .item-advantages__info
  &__info {
    max-width: 400px;
    color: #fff;

    font-size: calc(13px + (20 - 13) * ((100vw - 321px) / (1230 - 321)));
  }

  &__img {
    border-radius: 10px;
    display: block;
    box-shadow: -10px 10px 15px 0px rgba(0, 0, 0, 0.35);

    @media screen and (min-width: 993px) {
      max-width: calc(440px + (650 - 440) * ((100vw - 992px) / (1240 - 992)));
    }

    @media screen and (max-width: 992.99px) {
      max-width: calc(330px + (440 - 330) * ((100vw - 321px) / (1240 - 321)));
    }
  }
}

.footer {
  display: none;
  padding: 20px 0;
}